/* საკლასო დავალება:

html-ის კოდში გაწერეთ ელემენტები ისე, რომ გამოყენებული გქონდეთ id და class ატრიბუტები.

html-ის და css-ის ფაილებში მოცემული უნდა იყოს ელემენტების გასტილვის ოთხივე მიდგომა - inline, id, class, element selector */
h1 {
    background-color: black;
}
#h {
    background-color: red;
}
.heading {
    background-color: blue;
}
/* საკლასო დავალება:

თქვენს html-ის დოკუმენტში აიღეთ 8 პარაგრაფი, თითოეულს გაუწერეთ id.

external css-ის გამოყენებით გასტილეთ ეს პარაგრაფები, გამოიყენეთ rgb რათა პარაგრაფებს ქონდეთ შემდეგი ფერები:

I - თეთრი
II - შავი
III - წითელი
IV - მწვანე
V - ლურჯი
VI - ყვითელი
VII - ცისფერი
VIII - იასამნისფერი */
#one {
   color: rgb(255,255,255);

}
#two{
    color:rgb(0,0,0)
}
#three {
    color: rgb(255,0,0)
}
#four {
    color: rgb(0,255,0)
}
#five {
    color: rgb(0,0,255)
}
#six {
    color: rgb(255,255,0)
}
#seven {
    color:rgb(0,0,200)
}
#eight {
    color: rgb(255,0,255)
}
#pa {
    color:rgb(44,55,66)
}