#parent {
    height: 500px;
    width: 700px;
    background-color: blanchedalmond;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
}
.divs {
    background-color: rgb(209, 209, 24);
}
#dv {
    grid-area: 1/1/2/6;
}
#dv2 {
    grid-area: 2/1/5/4;
}
#dv3 {
    grid-area: 2/4/5/5;
}
#dv4 {
    grid-area: 2/5/5/6;
}
#dv5 {
    grid-area: 5/1/6/6;
}