/* საკლასო დავალება:

თქვენს html-ის დოკუმენტში გაწერეთ 5 ლინკი, თითოეულს გაუწერეთ მისამართი.

როდესაც მოხდება ლინკზე hover, მაგ დროს გაზარდეთ ტექსტის ზომა და სისქე, ასევე შეცვალეთ ტექტის ფერი - გამოიყენეთ rgb / hexadecimal.

როდესაც მოხდება ლინკზე active მოვლენა, მაგ დროს შეამცირეთ ტექსტის ზომა და სისქე, ასევე შეცვალეთ ტექტის ფერი - გამოიყენეთ rgb / hexadecimal. */
/* საკლასო დავალება:

შექმენით ცხრილი, რომელსაც ექნება 5 რიგი და 3 სვეტი. 

ცხრილს გაუწერეთ საზღვარი, რომელიც იქნება მწვანე ფერის, სიგანეში 5px და სტილით solid */
a:hover {
    font-size: xx-large;
    font-weight: 700;
    color: #66aaaa;
}
a:active {
    font-size: small;
    font-weight: 300;
    color: #000000;
}


table,th,td {
    border: green 5px solid;
}