@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background: linear-gradient(180deg, #040918 0%, #091540 100%);
    color: white;
    font-family: Noto Sans;
    margin: 0;
}
#align-bar {
    display: flex;
    justify-content: center;
    height: 80px;
    border-radius: 10px;
    /* width: 800px; */
    background-color: hsl(226, 25%, 17%);
}
#bar {
    display: flex;
    flex-direction: row;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
}
#sun-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-color: #2f354c;
    margin-right: 20px;
}
#extension-list {
    display: flex;
    flex-direction: row;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
}
#extension-list button {
    border-radius: 15px;
    height: 40px;
    background-color: #2f3649;
    color: white;
    transition: 0.4s;
}
#extension-list button:active {
    background-color: hsl(3, 71%, 56%) ;
}
#list-section {
    display: flex;
    justify-content: center;
    height: 80px;
    border-radius: 10px;
    /* width: 800px; */

}
.p-stack {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.align {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.on {
    height: 20px;
    width: 30px;
    border-radius: 6px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: hsl(3, 71%, 56%);
}
.on-ball {
    height: 20px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
}
.alignment {
    display: flex;
    justify-content: space-between;
}
.box {
    height: 300px;
    width: 500px;
    background-color: #1f2535;
    border-radius: 8px;
}
.box button {
    background-color: #35405a;
    border-radius: 8px;
    border: 1px white solid;
}
