body {
    background-color: gray;
}
#main-div {
    width: 800px;
    height: 600px;
    gap: 50px;
    position: relative;
}
#one,#two,#three,#four,#five,#six {
    height: 200px;
    width: 200px;
    border-radius: 40px;
    background-color: white;
    position: relative;
    border: 2px black solid;
}
#three {
    position: absolute;
    left: 570px;
}
#five {
    position: absolute;
    top: 200px;
    left: 380px;
}
#one {
    position: absolute;
    top:200px;
    left: 580px;
}
#two {
    position: absolute;
    top:200px;
    left: 780px;
}
#four {
    position: absolute;
    top: 400px;
    left: 565px ;
}
#six {
    position: absolute;
    top: 600px;
    left: 565px;
}
.black {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
}
#one-1,#three-2,#five-5 {
    left: 85px;
    top: 85px;
}
#two-1,#three-1,#four-1,#five-1,#six-1 {
    left: 20px;
    top: 20px;
}
#two-2,#three-3,#four-3,#five-3,#six-4 {
    right: 20px;
    bottom: 20px;
}
#four-2,#five-2,#six-2 {
    right: 20px;
    top:20px ;
}
#four-4,#five-4,#six-5 {
    left:20px ;
    bottom:20px;
}
#four-2,#five-2,#six-2 {
    right: 20px;
    top: 20px;
}
#four-4,#five-4,#six-5 {
    left: 20px;
    bottom: 20px;
}
#six-3 {
    top: 85px;
    right: 20px;
}
#six-6 {
    top: 85px;
    left: 20px;
}