
#div1 {
    animation: mover 5s linear 1s infinite;
    height: 100px;
    width: 100px;
    background-color: darkturquoise;
}
@keyframes mover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: translate(100px,100px) scale(1.3);
    }
}
