section {
    display: flex;
}







#first {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#second {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
